:root {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    --primary-color-background: #5c636e;
    --primary-color-background-darker: #393e46;
    /*--hover-color-green: #50fa7b;*/
    --color-ligth-yellow: #ffd700;
    --color-ligth-yellow-ligther: #fade43;
    --font-color-white: #ffffff;
}

html {
    overflow-y: scroll;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: var(--primary-color-background);
    color: var(--font-color-white);
}

header {
    padding: 32px;
    border-bottom: 1px solid #333;
    background: var(--primary-color-background-darker);
}

.links{ 
    text-align: center;

}

.links a {
    color: white;
    font-size: 1.5rem;
    line-height: 1.6rem;
    text-decoration: none;
    padding-bottom: .3rem;
    margin: 0 1rem;
}

.links a:hover {
    color: var(--color-ligth-yellow);
    transition: color 0.2s;
}

#wrapper {
    text-align: center;
    padding: 2rem;
}

#wrapper img {
    border-radius: 50%;
    border: 5px solid var(--color-ligth-yellow);
    margin-bottom: 2rem;
    height: 200px;
}

#wrapper h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: bold;
}

#wrapper h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: normal;
    margin-top: .5rem;
    opacity: 0.8;
}

#wrapper p {
    max-width: 500px;
    margin: 2rem auto;
    font-size: 1.5rem;
    line-height: 2rem;
}

#wrapper p a {
    color: var(--color-ligth-yellow);
}

#links-footer a {
    border-bottom: 1px solid var(--color-ligth-yellow);
    text-decoration: none;
}

/*=== Cards ===*/

.cards {
    max-width: 800px;
    margin: 0 auto;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.card {
    background-color: var(--color-ligth-yellow-ligther);
}

.card_image_container img {
   width: 100%; 
}

.card_content, .card_info {
    padding: .5rem;
}

.card_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card_state {
    background-color: var(--color-ligth-yellow-ligther);
    filter: brightness(90%);
    padding: 0.3rem 1rem;
    border-radius: 20px;
    text-align: center;
}

/* === MODAL === */

/*.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
}*/